paths:
  /project/{project}/service/{service_name}/quota/describe:
    get:
      summary: Get service quota configuration
      description: |
        Retrieves quota configuration for a specific service based on the following rules:
        - When both user and client ID are specified: Returns quota for that specific combination
        - When only user is specified: Returns ONLY the quota configured for this user without any client ID
        - When only client ID is specified: Returns ONLY the quota configured for this client ID without any user
      parameters:
        - $ref: "#/components/parameters/project"
        - $ref: "#/components/parameters/service_name"
        - $ref: "#/components/parameters/service_kafka_quota_user"
        - $ref: "#/components/parameters/service_kafka_quota_client_id"
  /v2/project/{project}/service/{service_name}/topic:
    post:
      summary: List Kafka topics V2
      description: Retrieves a list of Kafka topics for a specific service. Experimental endpoint.
      operationId: ServiceKafkaTopicListV2
      parameters:
        - $ref: "#/components/parameters/project"
        - $ref: "#/components/parameters/service_name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceKafkaTopicListV2Request"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceKafkaTopicListV2Response"
components:
  schemas:
    ServiceKafkaConnectCreateConnectorRequestBody:
      additionalProperties: true
    ServiceKafkaConnectEditConnectorRequestBody:
      additionalProperties: true
    ServiceKafkaConnectListResponse:
      properties:
        connectors:
          items:
            properties:
              # config has dynamic keys, with more fields than documented in a spec
              config:
                additionalProperties:
                  type: string
    ServiceKafkaConnectCreateConnectorResponse:
      properties:
        connector:
          properties:
            config:
              additionalProperties:
                type: string
    ServiceKafkaConnectEditConnectorResponse:
      properties:
        connector:
          properties:
            config:
              additionalProperties:
                type: string
    ServiceClickHousePasswordResetRequestBody:
      properties:
        password:
          # When sent as null, the password is generated on the server side.
          nullable: true
    OrganizationVpcGetResponse:
      properties:
        peering_connections:
          items:
            properties:
              state_info:
                properties:
                  aws_vpc_peering_connection_id:
                    type: string
                  to_project_id:
                    type: string
                  to_vpc_network:
                    type: string
    ServiceKafkaQuotaDescribeResponse:
      properties:
        quota:
          required: []
    ServiceDatabaseListResponse:
      properties:
        databases:
          items:
            properties:
              lc_ctype:
                type: string
              lc_collate:
                type: string
    ServiceListResponse:
      properties:
        services:
          items:
            properties:
              service_integrations:
                items:
                  properties:
                    integration_type:
                      $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
    ServiceCreateResponse:
      properties:
        service:
          properties:
            service_integrations:
              items:
                properties:
                  integration_type:
                    $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
    ServiceUpdateResponse:
      properties:
        service:
          properties:
            service_integrations:
              items:
                properties:
                  integration_type:
                    $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
    ServiceUserCredentialsModifyResponse:
      properties:
        service:
          properties:
            service_integrations:
              items:
                properties:
                  integration_type:
                    $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
    ServiceUserCredentialsResetResponse:
      properties:
        service:
          properties:
            service_integrations:
              items:
                properties:
                  integration_type:
                    $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
    ServiceIntegrationCreateResponse:
      properties:
        service_integration:
          properties:
            integration_type:
              $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
    ServiceIntegrationGetResponse:
      properties:
        service_integration:
          properties:
            integration_type:
              $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
    ServiceIntegrationListResponse:
      properties:
        service_integrations:
          items:
            properties:
              integration_type:
                $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
    ServiceGetResponse:
      properties:
        service:
          properties:
            service_integrations:
              items:
                properties:
                  integration_type:
                    $ref: "#/components/schemas/ServiceCreateRequestBody/properties/service_integrations/items/properties/integration_type"
            service_uri_params:
              additionalProperties:
                type: string
            connection_info:
              properties:
                # M3DB aggregator (EOL)
                m3aggregator:
                  items:
                    type: string
                  type: array
                aggregator_http_uri:
                  type: string
                # M3DB (EOL)
                m3db:
                  items:
                    type: string
                  type: array
                http_cluster_uri:
                  type: string
                http_node_uri:
                  type: string
                influxdb_uri:
                  type: string
                prometheus_remote_read_uri:
                  type: string
                prometheus_remote_write_uri:
                  type: string
                # InfluxDB (EOL)
                influxdb:
                  items:
                    type: string
                  type: array
                influxdb_dbname:
                  type: string
                influxdb_password:
                  type: string
                influxdb_username:
                  type: string
                # Cassandra
                cassandra:
                  items:
                    type: string
                  type: array
                # Clickhouse
                clickhouse:
                  items:
                    type: string
                  type: array
                # Flink
                flink:
                  items:
                    type: string
                  type: array
                # Grafana
                grafana:
                  items:
                    type: string
                  type: array
                # Kafka
                kafka:
                  items:
                    type: string
                  type: array
                kafka_access_key:
                  type: string
                kafka_access_cert:
                  type: string
                kafka_connect_uri:
                  type: string
                kafka_rest_uri:
                  type: string
                schema_registry_uri:
                  type: string
                # Kafka Connect
                kafka_connect:
                  items:
                    type: string
                  type: array
                # Kafka MirrorMaker
                kafka_mirrormaker:
                  items:
                    type: string
                  type: array
                # MySQL
                mysql:
                  items:
                    type: string
                  type: array
                mysql_params:
                  type: array
                  items:
                    properties:
                      dbname:
                        type: string
                      host:
                        type: string
                      password:
                        type: string
                      port:
                        type: string
                      ssl-mode:
                        type: string
                      user:
                        type: string
                    type: object
                    required:
                      - dbname
                      - host
                      - password
                      - port
                      - ssl-mode
                      - user
                mysql_replica_uri:
                  type: string
                mysql_standby:
                  items:
                    type: string
                  type: array
                # OpenSearch
                opensearch:
                  items:
                    type: string
                  type: array
                opensearch_dashboards_uri:
                  type: string
                opensearch_password:
                  type: string
                opensearch_username:
                  type: string
                # PostgreSQL
                pg:
                  items:
                    type: string
                  type: array
                pg_params:
                  type: array
                  items:
                    properties:
                      dbname:
                        type: string
                      host:
                        type: string
                      password:
                        type: string
                      port:
                        type: string
                      sslmode:
                        type: string
                      user:
                        type: string
                    type: object
                    required:
                      - dbname
                      - host
                      - password
                      - port
                      - sslmode
                      - user
                pg_replica_uri:
                  type: string
                pg_standby:
                  items:
                    type: string
                  type: array
                pg_syncing:
                  items:
                    type: string
                  type: array
                # Thanos
                thanos:
                  items:
                    type: string
                  type: array
                query_frontend_uri:
                  type: string
                query_uri:
                  type: string
                receiver_remote_write_uri:
                  type: string
                # Redis (EOL) + Dragonfly
                redis:
                  items:
                    type: string
                  type: array
                redis_password:
                  type: string
                redis_replica_uri:
                  type: string
                redis_slave:
                  items:
                    type: string
                  type: array
                # Valkey
                valkey:
                  items:
                    type: string
                  type: array
                valkey_password:
                  type: string
                valkey_replica_uri:
                  type: string
                valkey_slave:
                  items:
                    type: string
                  type: array
    ServiceCreateRequestBody:
      properties:
        project_vpc_id:
          # When VPC is not specified, the service will be created in the existing VPC.
          # We must send null to create a service in the public network.
          nullable: true
    ServiceUpdateRequestBody:
      properties:
        project_vpc_id:
          nullable: true
    ServiceKafkaTopicListV2Request:
      type: object
      required:
        - topic_names
      properties:
        topic_names:
          type: array
          items:
            type: string
    ServiceKafkaTopicListV2Response:
      type: object
      properties:
        topics:
          type: array
          items:
            $ref: "#/components/schemas/ServiceKafkaTopicGetResponse/properties/topic"
  parameters:
    service_kafka_quota_user:
      in: query
      name: user
      schema:
        type: string
      required: false
    service_kafka_quota_client_id:
      in: query
      name: client-id
      schema:
        type: string
      required: false
